In [1]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sqlalchemy as sql
import pymysql
import sklearn.linear_model as skllm
import statsmodels.api as sm
import bin_time_data as bd
import query_database as qdb
%matplotlib inline

In [2]:
sns.set_context('poster')

In [3]:
#connect to db
zidisha_db = qdb.QueryDatabase('zidisha')

In [13]:
dict_t = {'a': 1, 'b': 2}

In [16]:
', '.join(dict_t.keys())

'b, a'

In [7]:
sql_dir = 'SQL_queries'

#List of all borrower countries
sql_query_file = 'country_name_list.sql'
df_countries = zidisha_db.source_query(sql_dir, sql_query_file, index_col_position=None)[0]
list_countries = df_countries.country_name.tolist()

#Accepted borrower account creation dates
sql_query_file = 'borrowers_w_countries.sql'
list_df_new_borrowers = zidisha_db.source_query(sql_dir, sql_query_file, where_filter_col='country_name', where_filter_list=list_countries)
for df in list_df_new_borrowers:
    df.insert(0, 'number', range(len(df)))

#Borrower first loan creation dates
sql_query_file = 'first_loans_w_countries.sql'
list_df_first_loans = zidisha_db.source_query(sql_dir, sql_query_file, where_filter_col='country_name', where_filter_list=list_countries)
for df in list_df_first_loans:
    df.insert(0, 'number', range(len(df)))

In [8]:
list_df_new_borrowers[1]

                     number country_name
created_at
2012-09-10 11:32:25       0        Benin
2012-09-17 14:16:18       1        Benin
2012-09-18 06:12:04       2        Benin
2012-10-15 14:11:35       3        Benin
2012-10-22 04:43:41       4        Benin
2012-10-30 15:04:28       5        Benin
2012-12-02 12:31:23       6        Benin
2012-12-26 04:35:03       7        Benin
2012-12-26 06:22:40       8        Benin
2013-02-16 06:35:17       9        Benin
2013-02-26 10:29:14      10        Benin
2013-02-26 11:02:38      11        Benin
2013-04-22 08:05:25      12        Benin
2013-04-25 06:10:34      13        Benin
2013-04-26 10:34:03      14        Benin
2013-04-28 07:51:14      15        Benin
2013-05-15 05:21:00      16        Benin
2013-05-21 10:52:22      17        Benin
2013-05-29 03:44:09      18        Benin
2013-06-08 17:16:04      19        Benin
2013-06-12 06:32:51      20        Benin
2013-06-12 06:52:01      21        Benin
2013-06-12 08:20:44      22        Benin
2013-06-17 05:34:58      23        Benin
2013-07-02 06:23:18      24        Benin
2013-07-09 09:59:40      25        Benin
2013-07-24 05:40:45      26        Benin
2013-07-24 13:12:18      27        Benin
2013-08-23 09:36:23      28        Benin
2013-09-04 02:16:31      29        Benin
2013-10-07 02:53:10      30        Benin
2013-10-07 09:10:20      31        Benin
2013-12-14 04:48:54      32        Benin
2013-12-19 06:07:55      33        Benin
2013-12-22 10:51:11      34        Benin
2013-12-28 12:30:19      35        Benin
2014-01-13 18:29:41      36        Benin
2014-08-23 19:22:39      37        Benin
2015-01-02 05:06:10      38        Benin

In [ ]:
for df in list_df_new_borrowers:
    print(type(df))

In [ ]:
df_new_borrowers.columns.tolist()[0]

In [ ]:
time_bins_edge = pd.date_range('2012-02-01','2015-09-01', None, '2W')
time_bins_center = bd.bin_centers_from_edges_time(time_bins_edge)

In [ ]:
df_new_borrowers_counts = bd.bin_count_time(time_bins_edge, df_new_borrowers)
df_new_borrowers_counts.plot()

In [ ]:
time_bins_edge = pd.date_range('2012-02-01','2015-09-01', None, '2W')
df_first_loans_counts = bd.bin_count_time(time_bins_edge, df_first_loans)
df_first_loans_counts.plot()

In [ ]:
plt.plot(time_bins_center, df_first_loans_counts.data_counts)
plt.plot(time_bins_center, df_new_borrowers_counts.data_counts)

In [ ]:
df_first_loans

In [ ]:
df_first_loans['index']

In [ ]:
tlag = pd.DataFrame({'tdiff': df_first_loans.index.values - df_first_loans.created_at.values}, index=df_first_loans.index)
tlag = pd.DataFrame({'tdiff': tlag.tdiff.values}, index=tlag.index.values)
tlag.plot()

In [ ]:
x=np.timedelta64(tlag.tdiff[0])
date=x.astype('timedelta64[s]')
date.astype(int)

In [ ]:
'''
Combine acceptance rates with other terms, e.g. (theta0 + theta1*accept_rate)*

'''