In [1]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sqlalchemy as sql
import pymysql
import sklearn.linear_model as skllm
import statsmodels.api as sm
import bin_time_data as bd
import query_database as qdb
%matplotlib inline

In [2]:
sns.set_context('poster')

In [3]:
#connect to db
zidisha_db = qdb.QueryDatabase('zidisha')

In [12]:
sql_dir = 'SQL_queries'

#new accepted borrower account creation dates
sql_query_file = 'borrowers_w_countries.sql'
df_new_borrowers = zidisha_db.source_query(sql_dir, sql_query_file)
df_new_borrowers.insert(0, 'number', range(len(df_new_borrowers)))
#df_new_borrowers = pd.DataFrame({'number': range(len(df_new_borrowers)), 'country': df_new_borrowers.country_name.values}, index=df_new_borrowers.created_at.values)

#borrower first loan creation dates
sql_query_file = 'first_loans_w_countries.sql'
df_first_loans = zidisha_db.source_query(sql_dir, sql_query_file)

In [ ]:
df_new_borrowers.columns.tolist()[0]

In [30]:
df_first_loans.pivot(index='index',columns='country_name')

KeyError: 'index'

In [33]:
df_first_loans

                             created_at  usd_amount  country_name
first_loan_date
2009-09-10 09:18:29 2009-09-10 09:05:28         779         Kenya
2009-09-10 09:32:52 2009-09-10 09:26:51         779         Kenya
2009-09-10 09:43:07 2009-09-10 09:38:43         779         Kenya
2009-10-16 13:25:34 2009-10-16 13:00:12         893       Senegal
2009-10-21 17:14:36 2009-10-21 17:05:42         223       Senegal
2010-03-09 10:10:08 2010-02-26 14:02:00         854       Senegal
2010-04-12 12:37:36 2010-04-09 11:35:01         828         Kenya
2010-05-03 14:11:39 2010-04-27 14:45:47          69         Kenya
2010-05-13 10:56:50 2010-04-29 08:49:53         828       Senegal
2010-05-14 14:40:22 2010-05-11 04:04:17         279         Kenya
2010-06-11 07:40:54 2010-06-08 06:17:40         860       Senegal
2010-06-16 12:38:20 2010-06-08 06:49:24         478       Senegal
2010-06-16 13:27:45 2010-06-09 07:06:31         382       Senegal
2010-06-17 03:59:50 2010-06-05 02:55:01         330         Kenya
2010-06-17 10:56:14 2010-06-08 12:33:21         344       Senegal
2010-06-17 11:29:22 2010-06-16 12:13:24         765       Senegal
2010-06-24 07:11:38 2010-06-22 11:12:42         574       Senegal
2010-07-05 06:54:55 2010-06-24 13:16:27         780       Senegal
2010-07-05 07:09:53 2010-06-24 09:22:04         682       Senegal
2010-07-06 11:27:10 2010-06-24 08:16:36         877       Senegal
2010-07-08 05:33:08 2010-07-05 06:24:16         877       Senegal
2010-07-12 06:42:38 2010-07-04 12:46:45         392         Kenya
2010-07-20 06:08:03 2010-07-09 11:10:19         780       Senegal
2010-07-21 05:18:48 2010-07-16 08:36:49         780       Senegal
2010-07-23 04:37:29 2014-09-24 03:20:55         783         Kenya
2010-07-28 05:15:09 2010-07-16 03:56:51         392         Kenya
2010-07-29 04:23:15 2010-07-23 00:52:41         392         Kenya
2010-07-29 10:40:38 2010-07-21 13:33:31         326         Kenya
2010-08-04 08:29:21 2010-07-26 08:59:18         404       Senegal
2010-08-05 04:09:54 2010-07-29 13:24:49         260         Kenya
...                                 ...         ...           ...
2015-09-10 19:06:26 2015-09-09 07:59:43         100         Ghana
2015-09-10 19:18:27 2015-09-09 18:18:42         150         Ghana
2015-09-10 19:22:24 2015-09-07 18:40:49         150         Ghana
2015-09-10 21:51:54 2015-09-09 15:35:17         150     Indonesia
2015-09-10 22:02:22 2015-09-07 09:05:25         146     Indonesia
2015-09-10 22:13:51 2015-09-09 09:48:03         100     Indonesia
2015-09-10 22:23:21 2015-09-08 02:00:30         150     Indonesia
2015-09-10 23:03:19 2015-08-29 22:14:06         150     Indonesia
2015-09-10 23:11:00 2015-09-10 01:39:43         100     Indonesia
2015-09-10 23:17:37 2015-09-09 04:41:14          95     Indonesia
2015-09-10 23:46:21 2015-09-09 01:19:15         150     Indonesia
2015-09-11 00:05:57 2015-09-04 15:24:18         100     Indonesia
2015-09-11 00:29:08 2015-09-05 08:26:26         150     Indonesia
2015-09-11 00:47:39 2015-09-04 14:50:51         100     Indonesia
2015-09-11 00:52:38 2015-09-07 23:40:24         100     Indonesia
2015-09-11 01:07:56 2015-09-10 00:15:43         150     Indonesia
2015-09-11 03:16:02 2015-09-07 13:43:04         150     Indonesia
2015-09-11 03:24:35 2015-08-29 04:22:17          95     Indonesia
2015-09-11 03:41:22 2015-09-08 14:21:50         150         Kenya
2015-09-11 03:44:21 2015-08-15 17:14:54         150         Ghana
2015-09-11 05:17:33 2015-09-04 22:00:41         150     Indonesia
2015-09-11 05:26:36 2015-09-08 13:26:42         150         Kenya
2015-09-11 05:28:53 2015-09-09 05:14:52         150         Kenya
2015-09-11 05:38:44 2015-09-08 10:46:04         150  Burkina Faso
2015-09-11 06:19:00 2015-09-09 02:19:41         100     Indonesia
2015-09-11 06:34:58 2015-09-09 05:59:27         150         Ghana
2015-09-11 08:22:26 2015-09-05 13:05:33         100         Kenya
2015-09-11 09:51:00 2015-09-10 04:53:43         150     Indonesia
2015-09-11 10:03:42 2015-09-08 13:40:03         150  Burkina Faso
2015-09-11 11:01:41 2015-09-09 11:30:07         150         Ghana

[13240 rows x 3 columns]

In [28]:
tlag = pd.DataFrame({'tdiff': df_first_loans.index.values - df_first_loans.created_at.values}, index=df_first_loans.index)
tlag = pd.DataFrame({'tdiff': tlag.tdiff.values}, index=tlag.index.values)
tlag.plot()

TypeError: Empty 'DataFrame': no numeric data to plot

In [24]:
x=np.timedelta64(tlag.tdiff[0])
date=x.astype('timedelta64[s]')
date.astype(int)

781